google calender agent.json
{
  "name": "email agent",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-832, -240],
      "id": "5b02c215-51b0-4167-b4b3-178e1fbbfa7d",
      "name": "Telegram Trigger",
      "webhookId": "8feb1285-8c8e-45c1-a89e-ff944b850d43",
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an email assistant.\n\nBased on the user’s request, you will either:\n\nSummarize an email\nSend an email\nSummarize an email and send the summary\nIf the email contains an event (meeting, appointment, schedule, invitation, etc.), create a Google Calendar event.\n\nAfter completing the task, return only an execution report describing what was done.\n\nOutput format (mandatory):\n\nTask Performed:\n\nEmail Summary / Email Sent / Email Summary & Sent / Calendar Event Created\n\nDetails:\n\nIf summarized: briefly state that the email was summarized\nIf sent: state the recipient email address\nIf calendar event created: state that an event was created in Google Calendar\nIf multiple: list all actions performed\n\nStatus:\n\nSuccess\n\nRules:\n\nDo not include the email content unless explicitly requested\nDo not explain reasoning\nKeep the report short and factual\nNo greetings or extra text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-256, -288],
      "id": "53971563-0600-4c8e-b664-4fd9eea67b21",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-272, 288],
      "id": "9b7943eb-fe7d-4004-8e6c-cec605436059",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI('Limit', '', 'number') }}",
        "simple": "={{ $fromAI('Simplify', '', 'boolean') }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [-48, 256],
      "id": "45d8650e-fad5-4451-8ad2-c59fd3152a6f",
      "name": "Get many messages in Gmail",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', '', 'string') }}",
        "subject": "={{ $fromAI('Subject', '', 'string') }}",
        "message": "={{ $fromAI('Message', '', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [272, 240],
      "id": "abbe9ef5-2159-4202-b237-28863a9dadc6",
      "name": "Send a message in Gmail",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": "primary",
        "start": "={{ $fromAI('Start Time', 'ISO date time', 'string') }}",
        "end": "={{ $fromAI('End Time', 'ISO date time', 'string') }}",
        "summary": "={{ $fromAI('Title', 'Event title', 'string') }}",
        "description": "={{ $fromAI('Description', 'Event details', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1,
      "position": [80, 400],
      "id": "b7f2c111-3d2a-4e55-9c4a-91c8e8f5c222",
      "name": "Create Event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2": {
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [288, -96],
      "id": "aa4a2cc8-416d-4e43-8450-a574e0b35914",
      "name": "Send a text message",
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Get many messages in Gmail": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Send a message in Gmail": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Create Event in Google Calendar": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Send a text message", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
